<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1" />
	<title>x</title>
	<link rel="stylesheet" type="text/css" href="/assets/skeleton.css?v=<?= STATIC_VERSION ?>">
</head>
<body>
<header>
	<h1>航海日志</h1>
</header>
<form method="post" role="form" action="/add">
  <div id="TAWrap">
  	<textarea id="TA" name="t" class="u-full-width"></textarea>
  </div>
	<button type="submit">ok</button>
</form>
<ul id="MainList">
<?php foreach ($logs as $log) include 'log.html' ?>
</ul>
<script type="text/javascript" src="/assets/jquery-2.0.3.js"></script>
<script type="text/javascript" src="/assets/main.js?v="></script>
</body>
</html>
