<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1" />
	<title>x</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
<h1>航海日志</h1>
<span>程序员的航海日志</span>
<form method="post" role="form" action="/add">
	<textarea name="t"></textarea>
	<button type="submit">ok</button>
</form>
<?php foreach ($logs as $log): ?>
	<li>
		<div class="date"><?= $log['create_time'] ?></div>
		<div><?= nl2br($log['text']) ?></div>
	</li>
<?php endforeach ?>
<script type="text/javascript" src="/assets/jquery-2.0.3.js"></script>
<script type="text/javascript" src="/assets/main.js?v="></script>
</body>
</html>
